<div id="user_profile">
  <h1>My Profile</h1>
  <div id="user_info">
    <img src="http://static1.businessinsider.com/image/4e6dfc58ecad04595300000f/no-wanting-womens-tennis-players-to-stop-screaming-all-the-time-doesnt-make-you-sexist.jpg"/>
    <div id="user_data">
      <p><strong>First Name:</strong> <%=current_user.first_name%></p>
      <p><strong>Last Name:</strong> <%=current_user.last_name%></p>
      <p><strong>Username:</strong> <%=current_user.email%></p>
      <p><strong>Email:</strong> <%=current_user.email%></p>
      <p><strong>Skill Level:</strong> <%=current_user.email%></p>
      <br/>
      <br/>
    </div>
  </div>
    <div id="availability">
      <h2>Select your availability</h2>
    </div>
</div>
