<div id="user_profile">
  <h1>My Profile</h1>
  <div id="user_info">
    <%= link_to image_tag(current_user.image.url(:large)), current_user.image.url %>
    <div id="user_data">
      <p><strong>First Name:</strong> <%=current_user.first_name%></p>
      <p><strong>Last Name:</strong> <%=current_user.last_name%></p>
      <p><strong>Email:</strong> <%=current_user.email%></p>
      <p><strong>Skill Level:</strong> <%=current_user.skill_level%></p>

      <form action="/update_skill" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <select name= "skill_level" class="custom-select">
            <option selected disabled="skill_level">Select Skill Level</option>
            <option name= "skill_level" value="Beginner">Beginner</option>
            <option name= "skill_level" value="Intermediate">Intermediate</option>
            <option name= "skill_level" value="Advanced">Advanced</option>
          </select>
          <input type="submit" value="Update Skill Level">
        </div>
      </form>

      <form style="display:inline-block" action="/update_image" method="post" enctype="multipart/form-data">
          <p>Select your profile picture</p>
          <input type="file" name="image" accept="image/*">
          <input type="submit" value="Update Picture">
      </form>
      <div>
        <%= link_to "Edit/Cancel Account", edit_user_registration_path %>
      </div>
      <br/>
      <br/>
    </div>
  </div>
  <div id="availability">
    <h3><%= link_to "Let's play!", new_match_path %></h3>
  </div>
</div>
