<script type="text/javascript">
  function showInfo(){
    console.log("I was clicked")
    var tooltip = document.getElementById("tooltip_border")

    if(tooltip.style.display === "block"){
      tooltip.style.display = "none";
    } else {
      tooltip.style.display = "block";
    }
  }
</script>

<div id="user_profile" class='body'>
  <h1>My Profile</h1>
  <div id="user_info">
    <%= link_to image_tag(current_user.image.url(:large)), current_user.image.url %>
    <div id="user_data">
      <p><strong>First Name:</strong> <%=current_user.first_name%></p>
      <p><strong>Last Name:</strong> <%=current_user.last_name%></p>
      <p><strong>Email:</strong> <%=current_user.email%></p>
      <p><strong>Skill Level:</strong> <%=current_user.skill_level%></p>
      <form action="/update_skill" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <select name= "skill_level" class="custom-select">
            <option selected disabled="skill_level">Select Skill Level</option>
            <option name= "skill_level" value="Beginner">Beginner</option>
            <option name= "skill_level" value="Intermediate">Intermediate</option>
            <option name= "skill_level" value="Advanced">Advanced</option>
          </select>
          <input class="btn btn-info btn-sm" type="submit" value="Update Skill" />
          <img src="/assets/Info.jpg" onClick="showInfo()" class="tooltip_icon" />
          <br />
          <div id="tooltip_border">
            <div class="skill_show">
              Beginner: Able to play short rallies of slow pace.
            </div>
            <div class="skill_show">
              Intermediate: Able to serve and play consistent rallies.
            </div>
            <div class="skill_show">
              Advanced: Able to serve with power and stroke accuracy.
            </div>
          </div>
        </div>
      </form>
      <form style="display:inline-block" action="/update_image" method="post" enctype="multipart/form-data">
          <p>Select your profile picture</p>
          <input type="file" name="image" accept="image/*">
          <input class="btn btn-secondary btn-sm"type="submit" value="Update Picture">
      </form>
      <div>
        <%= link_to "Edit/Cancel Account", edit_user_registration_path %>
      </div>
      <br/>
      <br/>
    </div>
  </div>
  <div id="availability">
    <a href="/matches/new" style="text-decoration: none"><button type="button" class="btn btn-primary btn-lg btn-block btn-info">Let's play</button></a>
  </div>
</div>
