<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <input type="hidden" name="match[user_id]" value="<%= current_user.id %>">
  </div>

  <select name="match[location]">
    <option selected disabled="">Select Court Location</option>
    <% for location in Location.all %>
    <option value=<%=location.name%>><%=location.name.gsub!(/_/, ' ')%></option>
    <% end %>
  </select>


  <div class="field">
    <%= form.label :timeslot %>
    <%= form.datetime_select :timeslot, id: :match_timeslot %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
