<div class='matches-body'>

  <p id="notice"><%= notice %></p>

  <h1 id='matches-head'>Matches</h1>

  <table class="table table-hover" id='matches-table'>
    <thead>
      <tr class="table-info">
        <th>User</th>
        <th>User2</th>
        <th>Location</th>
        <th>Timeslot</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody class="table-active">
      <% @matches.each do |match| %>
        <tr>
          <td><%= match.user_id %></td>
          <td><%= match.user2_id %></td>
          <td><%= match.location %></td>
          <td><%= match.timeslot %></td>
          <td><%= link_to 'Show', match %></td>
          <td><%= link_to 'Edit', edit_match_path(match) %></td>
          <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Match', new_match_path %>

  <br />
  User ID: <%= current_user.id %>
</div>
