<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @match.user_id %>
</p>

<p>
  <strong>User2:</strong>
  <%= @match.user2_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @match.location %>
</p>

<p>
  <strong>Timeslot:</strong>
  <%= @match.timeslot %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
